body {
	background: linear-gradient(-45deg, #eb9d85, #b0f1d3, #afedf1, #eea9e2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


input[type=text], select {
    width: 25%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 p{
   background-color: white;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

.checkbox{
  float: left;
}

  .button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 350;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-74:hover {
    background-color: black;
    color: azure;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
  }

  .button {
    float: right;
    background-color: #cc5f20;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: bn53bounce 4s infinite;
    cursor: pointer;
    color: whitesmoke;
  }
  
  @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-5deg);
    }
  
    25% {
      transform: scale(1) rotate(5deg);
    }
  
    30% {
      transform: scale(1) rotate(-3deg);
    }
  
    35% {
      transform: scale(1) rotate(2deg);
    }
  
    40% {
      transform: scale(1) rotate(0);
    }
  }


  .deleteLine{
    text-decoration:line-through;
  }
  
  .webflow-style-input {
    flex-grow: 1;
    color: #7881A1;
    font-size: 1rem;
    line-height: 2.4rem;
    vertical-align: middle;
  }

  .webflow-style-input::-webkit-input-placeholder {
    color: #BFD2FF;
  }


  h2 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 45px; line-height: 60px; font-weight: normal; margin-bottom: 20px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff; }